* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-family: 'Helvetica', Arial, san-serif;
  line-height: 1.4em
}
header {
  background: #cc0000;
  color: #fff;
  padding: 16px 20px;
  display: flex;
  align-items: baseline;
  margin: 0 0 30px 0;
}
h1, .links {
  flex: 1 0 auto;
  font-weight: 100;
}
.links {
  text-align: right;
}
.links>a, .links>a:visited {
  color: #fff;
  padding: 4px 8px;
  background: transparent;
  border-radius: 4px; 
}
.links>a:hover, .links>a:focus {
  background: #fff;
  color: #cc0000;
}
.content {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 10px;
}
h2 {
  margin: 0 0 20px 0;
}
p {
  margin: 0 0 20px 0;
}
img {
  max-width: 100%;
  margin: 0 0 20px 0;
}
